.bg-white {
    background-color: $white;
}

.bg-soft-white {
    background-color: $soft-white;
}

.bg-lighter {
    background-color: $lighter-gray;
}

.bg-light {
    background-color: $light-gray;
}

.bg-gray {
    background-color: $gray;
}

.bg-dark-gray {
    background-color: $dark-gray;
}

.bg-dark {
    background-color: $dark;
}

.bg-red {
    background: $soft-red-linear;
}
