// basic flex
.flex {
    display: flex;
}

.flex-row\@m {
    @include from-m {
        display: flex;
        flex-direction: row !important;
    }
}

.flex-row\@l {
    @include from-l {
        display: flex;
        flex-direction: row !important;
    }
}

.flex-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column\@m {
    @include from-m {
        display: flex;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
    }
}

.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

// horizontal alignement
.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}

// FLEX CENTER

.flex-center {
    justify-content: center;
}

.flex-center\@l {
    @include from-l {
        justify-content: center;
    }
}

// FLEX LEFT

.flex-left {
    justify-content: flex-start;
}
.flex-left\@m {
    @include from-m {
        justify-content: flex-start !important;
    }
}

// FLEX RIGHT

.flex-right {
    justify-content: flex-end;
}
.flex-right\@l {
    @include from-l {
        justify-content: flex-end !important;
    }
}

// FLEX TOP
.flex-top {
    align-items: flex-start;
}
.flex-top\@m {
    @include from-m {
        align-items: flex-start !important;
    }
}
.flex-top\@l {
    @include from-l {
        align-items: flex-start !important;
    }
}

// vertical alignement
.flex-middle {
    align-items: center;
}
.flex-baseline {
    align-items: baseline;
}
.flex-bottom {
    align-items: flex-end;
}
.flex-self-stretch {
    align-self: stretch;
}

.flex-auto {
    flex: auto;
}

.no-wrap {
    flex-wrap: nowrap !important;
    flex-grow: 1;
}
