.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &::after {
        content: '';
        flex-grow: 1000000;
    }
}

@for $i from 1 through 12 {
    .col-#{$i} {
        flex-basis: calc(100 / (12 / #{$i}) * 1% - #{$grid-gutter});
        margin: 0 calc(#{$grid-gutter}/ 2);
        flex-grow: 1;
    }
}
