.scroll-y {
  overflow-y: scroll;
}

.scroll-x {
  overflow-x: scroll;
}

.hidden {
  display: none !important;

  &\@m {
    @include from-m {
      display: none !important;
    }
  }

  &\@l {
    @include from-l {
      display: none !important;
    }
  }
}

@media (max-width: $m) {
  .visible\@m {
    display: none !important;
  }
}

@media (max-width: $l) {
  .visible\@l {
    display: none !important;
  }
}

.crop {
  overflow: hidden;
}
