// .w-25 ; .w-50 ; .w-75 ; .w-100
// .h-25 ; .h-50 ; .h-75 ; .h-100
@for $i from 1 through 4 {
  $value: $i * 25;
  .w-#{$value} {
    width: $value * 1%;
  }

  .w-#{$value}-s {
    @include s {
      width: $value * 1%;
    }
  }

  .w-#{$value}-m {
    @include m {
      width: $value * 1%;
    }
  }

  .w-#{$value}-l {
    @include l {
      width: $value * 1%;
    }
  }

  .h-#{$value} {
    height: $value * 1%;
  }

  .h-#{$value}-s {
    @include s {
      height: $value * 1%;
    }
  }

  .h-#{$value}-m {
    @include m {
      height: $value * 1%;
    }
  }

  .h-#{$value}-l {
    @include l {
      height: $value * 1%;
    }
  }
}
