// .w-25 ; .w-50 ; .w-75 ; .w-100
// .h-25 ; .h-50 ; .h-75 ; .h-100
// + responsive
@for $i from 4 through 1 {
  $value: $i * 25;
  .w-#{$value} {
    width: $value * 1%;
  }

  @include from-m {
    .w-#{$value}\@m {
      width: $value * 1%;
    }
  }

  @include from-l {
    .w-#{$value}\@l {
      width: $value * 1%;
    }
  }

  .w-auto {
    width: auto;
  }

  .w-auto\@m {
    @include from-m {
      width: auto !important;
    }
  }

  .w-auto\@l {
    @include from-l {
      width: auto !important;
    }
  }

  .h-#{$value} {
    height: $value * 1%;
  }
}
