$default-space: 0.5rem;

$small: $default-space;
$medium: $default-space * 1.5;
$large: $default-space * 3;

// padding global
.p-s {
  padding: $small !important;
}
.p-m {
  padding: $medium !important;
}
.p-l {
  padding: $large !important;
}

// padding horizontal
.px-s {
  padding-left: $small;
  padding-right: $small;
}
.px-m {
  padding-left: $medium;
  padding-right: $medium;
}
.px-l {
  padding-left: $large;
  padding-right: $large;
}

// padding vertial
.py-s {
  padding-top: $small;
  padding-bottom: $small;
}
.py-m {
  padding-top: $medium;
  padding-bottom: $medium;
}
.py-l {
  padding-top: $large;
  padding-bottom: $large;
}

// margin global
.m-s {
  margin: $small;
}
.m-m {
  margin: $medium;
}
.m-l {
  margin: $large;
}

// margin horizontal
.mx-s {
  margin-left: $small;
  margin-right: $small;
}
.mx-m {
  margin-left: $medium;
  margin-right: $medium;
}
.mx-l {
  margin-left: $large;
  margin-right: $large;
}

// margin vertial
.my-s {
  margin-top: $small;
  margin-bottom: $small;
}
.my-m {
  margin-top: $medium;
  margin-bottom: $medium;
}
.my-l {
  margin-top: $large;
  margin-bottom: $large;
}

// no padding et no margin
.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0;
}

// no padding directionnel
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}

// no margin directionnel
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.mr-0 {
  margin-right: 0;
}

// auto-margins
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
