.text-white {
    color: $white;
}

.text-gray {
    color: $gray;
}

.text-bold {
    font-weight: 600;
}

.text-underline {
    text-decoration: underline;
}

.text-lighter-gray {
    color: $lighter-gray;
}

.text-lighter {
    color: $light-gray;
}

.text-center {
    text-align: center;
}

.text-alert-error {
    border-radius: 8px;
    color: $dark-red;
    background-color: lighten($red, 40%);
    padding: 10px;
    margin: 10px;
    font-size: 11px;
}


