// TEXT COLORS

.text- {
    &white {
        color: $white;
        margin: 0;
    }
    &gray {
        color: $gray;
    }
    &lighter-gray {
        color: $lighter-gray;
    }
    &light-gray {
        color: $light-gray;
    }
}

// TEXT MODIFIERS

.text- {
    &bold {
        font-weight: 600;
    }
    &underline {
        text-decoration: underline;
    }
    &center {
        text-align: center;
    }
}

.text-alert-error {
    border-radius: 8px;
    color: $dark-red;
    background-color: lighten($red, 50%);
    padding: 10px;
    margin: 10px;
    font-size: 11px;
    line-height: 1.2rem;
}

.no-break {
    white-space: nowrap;
}
