@import 'main.scss';

body {
  background-color: $lighter-gray;
}

header {
  height: 70px;
}

main {
  max-height: calc(100% - 70px);
}

#view {
  padding: 20px;
}

#sidebar {
  width: 200px;

  a {
    color: $white;
    display: flex;
    align-items: center;

    span {
      padding: 0 0.5em;
    }
  }

  li {
    padding: 1em 0;
  }
}

.table {
  width: 100%;
  border: 1px;

  th {
    text-align: left;
    padding: 5px 10px;
  }

  tbody,
  thead {
    tr {
      background-color: $lighter-gray;
    }
    tr:nth-child(2n) {
      background-color: $light-gray;
    }

    td {
      padding: 5px 10px;
      border: none;
      button {
        border: inherit;
        background-color: transparent;
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}
