@import 'main.scss';

body {
  background-color: $lighter-gray;
  // @include m {
  //   border: dashed 3px rgb(255, 166, 0);
  // }
  // @include l {
  //   border: dashed 3px rgb(8, 160, 0);
  // }
}

header {
  height: 60px;
  box-shadow: 0 2px 1px $gray;

  #user-profile-button {
    cursor: pointer;

    &:hover div:first-child {
      background-color: $lighter-gray;
    }
  }

  #user-profile-menu {
    position: absolute;
    right: 1.5rem;
    top: 70px;
    z-index: 2;
    background-color: $white;

    a {
      color: $text-black;
      padding: 10px 20px;

      &:hover {
        background-color: darken($white, 20);
      }
    }
  }
}

main {
  max-height: calc(100% - 60px);
}

#view {
  padding: 20px;
}

#sidebar {
  width: 200px;
  flex-shrink: 0;

  a {
    color: $white;
    display: flex;
    align-items: center;

    span {
      padding: 0 0.5em;
    }
  }

  li {
    padding: 1em 0;
  }
}

#filter-link-bar {
  //padding: 20px;

  a {
    color: $light-gray;
    padding: 0 0.5em;

    &:hover {
      text-decoration: underline;
      color: $light-gray;
    }
  }
}

.author-card {
  span {
    font-size: 12px;
  }
}

.table {
  width: 100%;
  border: none;
  border-spacing: 2px;
  border-collapse: collapse;

  th {
    text-align: left;
    padding: 20px;
  }

  tr {
    border-bottom: 1px solid $lighter-gray;
  }

  td {
    padding: 10px 20px;
    border: none;
    button {
      border: inherit;
      background-color: transparent;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}
