@import 'main.scss';

body {
  background-color: $lighter-gray;

  #cms-logo {
    font-family: $logo-font;
  }
}

header {
  height: 60px;
  box-shadow: 0 2px 1px $gray;

  #user-profile-button {
    cursor: pointer;

    &:hover div:first-child {
      background-color: $lighter-gray;
    }
  }

  #user-profile-menu {
    position: absolute;
    right: 1.5rem;
    top: 70px;
    z-index: 2;
    background-color: $white;

    a {
      color: $text-black;
      padding: 10px 20px;

      &:hover {
        background-color: darken($white, 20);
      }
    }
  }
}

main {
  max-height: calc(100% - 60px);
}

#view {
  padding: 20px;
}

#sidebar {
  max-width: 200px;
  flex-shrink: 0;

  a {
    color: $white;
    display: flex;
    align-items: center;
    padding: 0 20px;

    span {
      padding: 0 10px;
      display: none;
      @include from-l {
        display: block;
      }
    }
  }

  li {
    padding: 1em 0;
  }
}

#filter-link-bar {
  a {
    color: $light-gray;
    padding: 0 0.5em;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      color: $text-black;
      text-decoration: underline;
    }
  }
}

.table {
  width: 100%;
  border: none;
  border-spacing: 2px;
  border-collapse: collapse;

  th {
    text-align: left;
    padding: 20px;
  }

  tr {
    border-bottom: 1px solid $lighter-gray;
  }

  td {
    padding: 10px 20px;
    border: none;
    white-space: nowrap;
    button {
      border: inherit;
      background-color: transparent;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.menu-selected {
  background-color: $lighter-gray;
  border-radius: 8px;
}
