@import 'main.scss';

header {
    height: 60px;
    box-shadow: 0 2px 1px $gray;

    position: fixed;
    width: 100%;
    z-index: 3;

    #user-profile-button {
        cursor: pointer;

        &:hover div:first-child {
            background-color: $lighter-gray;
        }
    }

    #user-profile-menu {
        position: absolute;
        right: 1.5rem;
        top: 70px;
        z-index: 4;
        background-color: $white;

        a {
            color: $text-black;
            padding: 10px 20px;

            &:hover {
                background: darken($white, 20);
            }
        }
    }
}

nav {
    z-index: 3;
    position: fixed;
    width: 100%;
    top: 60px;
    height: 60px;
    background-color: $white;
}

main {
    position: absolute;
    top: 120px;
    width: 100%;
}

#login-form {
    width: 100%;
    @include m {
        width: 50%;
        min-width: 400px;
    }
    @include l {
        width: 450px;
    }
}
