.field {
    display: flex;
    position: relative;
    margin: 5px;

    span {
        padding: 10px;
        border: 1px solid #e3e3e3;
        min-width: fit-content;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: #ededed;
        color: #7e7e7e;
    }
    &.flexible::after,
    input,
    select {
        width: 100%;
        min-width: 1em;
        padding: 10px;
        border: 1px solid #e3e3e3;
        border-left: transparent;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        outline: none;
        color: $text-black;
        background-color: white;
    }

    input::placeholder {
        color: lighten($text-black, 50%);
    }

    textarea {
        width: 100%;
        min-width: 1em;
        padding: 10px;
        border: 1px solid #e3e3e3;
        border-left: transparent;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        outline: none;
        color: $text-black;
        resize: none;
        font-family: $secondary-font;
    }

    &::after {
        content: attr(data-value) ' ';
        visibility: hidden;
        white-space: pre-wrap;
    }

    &:focus-within {
        outline: none;
    }
}

.input {
    display: flex;
    width: 100%;
    min-width: 1em;
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    outline: none;
    color: $text-black;
    background-color: white;

    &:focus-within {
        outline: none;
    }
}

.image-input-square {
    width: 80px;
    height: 80px;
    border: dashed 2px $light-gray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background-color: transparent;
        border: none;
        font-size: rem(36);
        color: $light-gray;
    }
}

.image-input-portrait {
    width: 180px;
    height: 220px;
    border: dashed 2px $light-gray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
        background-color: transparent;
        border: none;
        font-size: rem(36);
        color: $light-gray;
    }
}

.searchbar {
    display: flex;
    align-items: center;
    background-color: $white;
    padding-left: 10px;
    border-radius: 5px;

    img {
        width: 18px;
    }
    input {
        outline: none;
        border: none;
        border-radius: 8px;
        margin-left: 10px;
        font-size: unset;
        padding: 5px;
    }
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: 10px 5px;
    cursor: pointer;
    user-select: none;

    input {
        position: absolute;
        cursor: pointer;
        opacity: 0;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
            background-color: $blue;

            &:after {
                display: block;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 5px;

        &:after {
            content: '';
            position: absolute;
            display: none;

            left: 7px;
            top: 5px;
            width: 3px;
            height: 6px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }
}

.media {
    cursor: pointer;

    div {
        input {
            opacity: 0;
            position: absolute;
            z-index: -1;
        }

        img {
            width: 100%;
            border-radius: 0 8px 8px 0;
        }
    }
}
