.field {
    display: flex;
    position: relative;
    margin: 5px;

    span {
        padding: 10px;
        border: 1px solid #e3e3e3;
        min-width: fit-content;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: #ededed;
        color: #7e7e7e;
    }
    &.flexible::after,
    input,
    select {
        width: 100%;
        min-width: 1em;
        padding: 10px;
        border: 1px solid #e3e3e3;
        border-left: transparent;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        outline: none;
        color: $text-black;
        background-color: white;
    }

    textarea {
        width: 100%;
        min-width: 1em;
        padding: 10px;
        border: 1px solid #e3e3e3;
        border-left: transparent;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        outline: none;
        resize: none;
    }

    &::after {
        content: attr(data-value) ' ';
        visibility: hidden;
        white-space: pre-wrap;
    }

    &:focus-within {
        outline: none;
    }
}

.image-input-square {
    width: 80px;
    height: 80px;
    border: dashed 2px $light-gray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background-color: transparent;
        border: none;
        font-size: rem(36);
        color: $light-gray;
    }
}

.image-input-portrait {
    width: 180px;
    height: 220px;
    border: dashed 2px $light-gray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
        background-color: transparent;
        border: none;
        font-size: rem(36);
        color: $light-gray;
    }
}

.searchbar {
    display: flex;
    align-items: center;
    img {
        width: 18px;
    }
    input {
        outline: none;
        border: none;
        border-radius: 8px;
        margin-left: 10px;
        font-size: unset;
    }
}
